@media screen and (min-width: 600px) {

  .hamburguer {
    visibility: hidden;
    top: 0;
    display: none;
  }

  header p,
  .navbar {
    height: auto;
  }

  #nav-menu {
    justify-content: end;
    display: flex;
    opacity: 1;
    gap: 10px;
  }

  .container {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container figure {
    width: 100%;
    padding: 20px;
  }

  .container figure img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  footer {
    margin-top: 1rem;
    text-align: center;
  }
}