* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(249, 243, 237);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 1rem;
  background-color: rgb(189, 110, 21);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.555);
}

header p {
  color: rgb(246, 232, 219);
  font-size: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

.fa-solid {
  color: rgb(246, 232, 219);
  font-size: 35px;
  margin-right: .5rem;
  cursor: pointer;
  display: none;
}

.navbar {
  height: 0;
  transition: 0.5s;
  width: 100%;
  text-align: end;
}

.navbar.active {
  height: 210px;
}

.navbar.active ul {
  opacity: 1;
  color: #C1B8C8;
}

ul {
  /* we use this 
  opacity to delete 
  the list of li */
  opacity: 0;
  width: 100%;
}

li {
  list-style: none;
  transition: 0.5s;
  margin: .6rem;
}


a {
  text-decoration: none;
  color: rgb(246, 232, 219);
  transition: .5s;
  text-align: end;
  cursor: pointer;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:active {
  color: #C1B8C8;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: rgb(96, 56, 12)
}

figure {
  padding: 30px;
  cursor: pointer;
}

figure img {
  width: 100%;
  height: auto;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.449);
  transition: .5s;
}

img:hover{
  filter: sepia(.5);
  transition: .5s;
}

figure figcaption {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

footer {
  padding: 1rem;
  background-color: rgb(189, 110, 21);
  color: beige;
  text-align: center;
}